config NETWORKING
	bool "Enable networking"
	help
	  Adds support for performing OTA updates via MCUboot. If an update is available,
	  the binary will be downloaded and installed in the secondary slot(slot1_partition).
	  By default, the device will be rebooted into the new firmware. Users can customize
	  the behavior after the update is downloaded by providing a custom implementation
	  of memfault_zephyr_fota_download_callback() and setting MEMFAULT_ZEPHYR_FOTA_DOWNLOAD_CALLBACK_CUSTOM=y.
	  For information on release management with Memfault: https://mflt.io/release-mgmt.

	  config use this config!



if YOLO

menu "Some choice settings"

choice SOME_CHOICE
	prompt "Select a choice"
	default SOME_CHOICE_OPTION_A if YOLO
	default SOME_CHOICE_OPTION_B
	help
	  Select your choice!

config SOME_CHOICE_OPTION_A
	bool "Option A"
	help
	  This is option A for the choice.
config SOME_CHOICE_OPTION_B
	bool "Option B"


	help
	  This is option B for the choice.

endchoice

endmenu # Some choice settings

	config YOLO_FEATURE
		bool "Enable YOLO feature"
		help
		  When enabled, __has_include is used to conditionally include the three Memfault
		  configuration files to a port if they exist instead of failing to compile if
		  they do not:
		  memfault_platform_config.h
		  memfault_metrics_heartbeat_config.def
		  memfault_trace_reason_user_config.def
endif  # YOLO

menuconfig ADVANCED_SETTINGS
    bool "Enable advanced settings"
    help
      Enable advanced settings for power users.
